body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#escudo {
    width: 120;;
}
#escudo {
    width: 100px;
    height: 100px;
} 
#navbar {
    background-color: rgb(114, 1, 1);
    color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#notícias{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
}

.notícia{
    background-color: rgb(201, 208, 214);
   color: rgb(0, 0, 0);
   border: 6px solid rgb(100, 0, 0);
}